[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
google-cloud-bigquery = "*"
pandas = "*"
pandas-gbq = "*"
gsheetsdb = "*"
s3fs = "*"
psycopg2-binary = "*"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.8"
